# /etc/exports: the access control list for filesystems which may be exported
#   to NFS clients.  See exports(5).
/share            *(rw,sync,no_root_squash)
/home/users       *(rw,sync,no_root_squash)
